:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav {
    display: flex;
}

.header-logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-primary);
    font-family: "Raleway", sans-serif;
}

.nav-list {
    list-style-type: none;
    margin-left: 94px;
}

.nav-direct {
    color: var(--color-grey);
    font-size: 0.6875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.205rem;
    text-decoration: none;
    padding: 28px 18px 22px;
}

.nav-direct:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}




section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-section {
    margin-top: 130px;
    text-align: center;
}

.opening-title {
    font-size: 3.0625rem;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.opening-description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 60px;
}

.opening-btn {
    text-decoration: none;
    padding: 22px 157px;
    background-color: var(--color-primary);
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--color-white);
}



.stats {
    margin-top: 100px;
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
}

.stats-title {
    text-align: center;
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    margin-bottom: 115px;
}

.stats-single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.stats-ellipse {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.stats-img {
    position: absolute;
}

.stats-single:nth-child(1) .stats-ellipse {
    background-color: var(--color-redish);
}

.stats-single:nth-child(1) .stats-img {
    top: 0;
    left: 45%;
}

.stats-single:nth-child(2) .stats-ellipse {
    background-color: var(--color-primary);
}

.stats-single:nth-child(2) .stats-img {
    top: 14px;
    left: 34%;
}

.stats-single:nth-child(3) .stats-ellipse {
    background-color: var(--color-green);
}

.stats-single:nth-child(3) .stats-img {
    top: 6px;
    left: 50%;
}

.stats-number {
    margin-top: 13px;
    margin-bottom: 19px;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.375rem;
}

.stats-description {
    color: var(--color-grey);
    margin-bottom: 121px;
}

.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefits .container {
    padding: 0 100px;
}

.benefits-single {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    max-height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits-text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 91px 35px;
}

.benefits-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px
}

.benefits-title {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
}

.benefits-description {
    line-height: 1.375rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.benefits-img {
    position:relative;
}

.benefits-img img {
    position: relative;
}

.benefits-macbook .benefits-img img {
    width: 386px;
    height: auto;
    position: relative;
}

.benefits-macbook {
    --accent-color: var(--color-redish);
}

.benefits-macbook .benefits-img {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits-macbook .benefits-img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    border-radius:41px;
    display: block;
    position: absolute;
    right:0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits-phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits-phone .benefits-img img {
    width: 426px;
    height: auto;
    position: relative;
}

.benefits-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px
}

.benefits-phone .benefits-img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits-phone .benefits-text {
    margin: 70px 0;
}

.benefits-trumpet-object {
    --accent-color: var(--color-green);
    display: flex;
}

.benefits-trumpet .benefits-text {
    margin: 70px 35px;
    max-width: none;
}

.benefits-trumpet {
    max-width: 620px;
}

.benefits-single-img {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid #E8E9ED;
    margin-left: 60px;
}

.benefits-single-img img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}



.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pricing-title {
    font-size: 2.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

.pricing-box {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color);
}

.pricing-details {
    margin-top: 34px;
    margin-bottom : 60px;
    text-align: center;
}

.pricing-type {
    font-size: 1.25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.pricing-price {
    font-size: 2.875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 14px;
    color: var(--color-redish);
}

.pricing-time {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.pricing-items {
    text-align: center;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0
}

.pricing-item {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Checkmark-1.svg");
}

.pricing-item-no::before {
    background-image: url("../assets/Close.svg");
}

.pricing-box .pricing-btn {
    position: relative;
    padding: 16px 57px;
    border-radius: 23px;
    font-size: 0.8125rem;
    bottom: -25px;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.pricing-box .pricing-btn-big {
    position: relative;
    padding: 16px 65px;
    border-radius: 23px;
    font-size: 0.8125rem;
    bottom: -25px;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.pricing-box {
    --accent-color: var(--color-redish);
}

.pricing-box-professional {
    --accent-color: var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow)
}

.pricing-box-professional .pricing-type {
    font-size: 1.3125rem;
}

.pricing-box-professional .pricing-item {
    margin-bottom: 25px;
}

.pricing-box-premium {
    --accent-color: var(--color-green);
}

.pricing-box-basic .pricing-price {
    margin-bottom: 29px;
}