:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --color-white: #FFFFFF;
}

.benefits {
  background-color: var(--color-light-grey);
  padding: 100px 0;

  @include phone {
    padding: 50px 0;
  }
}

.benefits .container {
  padding: 0 100px;

  @include phone {
    padding: 0 25px;
  }
}

.benefits-single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  max-height: 370px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;

  @include phone {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 20px;
  }
}

.benefits-text {
  box-sizing: content-box;
  max-width: 415px;
  margin: 91px 35px;

  @include phone {
    margin: 25px 0;
    max-width: none;
  }
}

.benefits-text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--color-redish);
  display: block;
  margin-top: 50px;

  @include phone {
    display: none;
  }
}

.benefits-title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.25rem;

  @include phone {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.benefits-description {
  line-height: 1.375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  @include phone {
    font-size: 0.9rem;
  }
}

.benefits-img {
  position:relative;
}

.benefits-img img {
  position: relative;
}

.benefits-macbook .benefits-img img {
  width: 386px;
  height: auto;
  position: relative;

  @include phone {
    width: 192px;
  }
}

.benefits-macbook {
  --accent-color: var(--color-redish);

  @include phone {
    .benefits__text {
      margin: 30px 0;
    }
  }
}

.benefits-macbook .benefits-img {
  margin-right: 117px;
  margin-bottom: 38px;

  @include phone {
    margin: 40px 0 0;
  }
}

.benefits-macbook .benefits-img::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  border-radius:41px;
  display: block;
  position: absolute;
  right:0;
  top: -40px;
  transform: rotate(45deg);

  @include phone {
    width: 90px;
    height: 90px;
    right: -10px;
    top: -30px;
  }
}

.benefits-phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;

  @include phone {
    flex-direction: column-reverse;
    padding: 0 20px;
  }

  .benefits-img {
    @include phone {
      margin-top: 30px;
    }
  }
}

.benefits-phone .benefits-img img {
  width: 426px;
  height: auto;
  position: relative;

  @include phone {
    width: 175px;
    top: 45px;
  }
}

.benefits-text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;

  @include phone {
    display: none;
  }
}

.benefits-phone .benefits-img::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;

  @include phone {
    width: 151px;
    height: 131px;
    top: 35px;
  }
}

.benefits-phone .benefits-text {
  margin: 70px 0;

  @include phone {
    margin: 30px 0;
  }
}

.benefits-trumpet-object {
  --accent-color: var(--color-green);
  display: flex;

  @include phone {
    flex-direction: column;
  }
}

.benefits-trumpet .benefits-text {
  margin: 70px 35px;
  max-width: none;
  @include phone {
    margin: 0 0 25px 0;
  }
}

.benefits-trumpet {
  max-width: 620px;

  @include phone {
    max-width: none;
  }
}

.benefits-single-img {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid #E8E9ED;
  margin-left: 60px;

  @include phone {
    margin-left: 0;
    margin-top: -38px;
  }
}

.benefits-single-img img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}