.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  @include phone {
    flex-direction: column;
    padding: 0 0 35px 35px;
  }
}

.contact-column {
  width: 50%;
  @include phone {
    width: 85%;
  }
}

.contact-title {
  margin: 0;
  font-size: 3.062rem;
  line-height: 3.687rem;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

.contact-description {
  margin: 22px 0 42px;
  line-height: 1.375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.contact-details {
  display: flex;
  color: $color-grey;
  align-items: center;
  @include phone {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 42px;
  }
}

.contact-details img {
  margin-right: 10px;
}

.details-item {
  display: flex;
  align-items: center;
  color: $color-grey;
  font-weight: 600;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}


.details-item:first-of-type {
  margin-right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:first-of-type {
  margin-bottom: 42px;
}

.form-label {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-primary;
  line-height: 0.9rem;
  letter-spacing: 0.205rem;
  font-size: 0.6875rem;
}

.form-input {
  border:none;
  border-bottom: 1px solid $color-grey;
  background-color: transparent;
  line-height: 2.625rem;
}

.form-consent {
  margin-top:30px;
}

.form-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: 4px;
}

.form-checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form-checkbox .consent-text {
  margin: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  color: $color-grey;
  line-height: 1.062rem;
}

.form .form-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $color-white;
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
  background-color: $color-primary;
  border: 0;
  border-radius: 35px;
  cursor: pointer;
}